<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" href="https://t3.ftcdn.net/jpg/04/44/09/28/240_F_444092882_RBUaCXvcq9ogUrm4gdjuWEiGvh9zPxjN.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>star wrold</title>
    

    <style>
     
        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-color:yellow;
        }
        .a {
            
            height:30px;
            width:100%;
            display: flex;
            justify-content:end;
            align-items: center;
            font-size: 20px;
            flex-direction: row;
            position: absolute;
            position: absolute;

            top: 10px;;

            
            

    
        }
        .items {
            border:0.1px solid transparent;
            border-radius: 10px;
            padding: 5px;
            margin-left:50px;


        }

        .items:hover {
            box-shadow: 2px 3px 3px black;
            cursor: pointer;
            transform: translate(5px, 5px);
            
           
        }
        .items:visited {
            color:blue;
        }
        .items a {
                background-image: url("https://t4.ftcdn.net/jpg/02/55/17/43/240_F_255174366_ojDuATz84e5h7lIlxh2moUJa9Kpd5wKk.jpg");
            -webkit-background-clip: text;
            color: transparent;
            font-size: 30px;
            text-decoration: none;
            
        }
        a:active{
            background-color: orange
        }
        a:visited {
            background-color: brown;
        }

      
    </style>
</head>
<body>
    <div class="a">
        <p class="items"><a href="/">Home</a></p>
        <p class="items"><a href="skill">Skills</a></p>
        <p class="items"><a href="about">About</a></p>
        <p class="items"><a href="Contect">Contect</a></p>
    </div>
    




    
    
</body>
</html>