<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
   
            background-image: radial-gradient(lightgrey, lightblue, lightgrey);

        
           
        }
      
        .big {
            font-size: 100px;
        }
        .text {
            font: 20px;
            font-size: 40px;
            
        }
        .png {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
       
        }
        
    </style>
</head>
<body>
    <div class="png">
    <div class="big"><b>404</b></div>
    <div class="text">Page not found   🥶</div>
    </div>
    <div class="photo">

    </div>

   

 

 
</body>
</html>